* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* remove text highlighting when mouse dragged */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-controls {
  background-color: yellow;
  padding: 0.5rem;
}

.user-controls ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.user-controls button {
  background-color: aliceblue;
  padding: 0.2rem;
}

#grid-container {
  display: grid;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

.cell:hover {
  transform: scale(1.1, 1.1);
}
