* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}

/* prompt 1 styles */

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  max-width: 50%;
  margin: auto;
}

.text-container {
  word-wrap: break-word;
  max-width: 30%;
}

/* prompt 2 style */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hover-container {
  background-color: brown;
  color: white;
  width: 20rem;
  max-height: 10rem;
  padding: 10rem 0;
  text-align: center;
}

/* prompt 3 style */

.form-container {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.form button {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 216, 44);
  border: none;
  box-shadow: 1px 1px 1px rgb(255, 179, 0);
}
